<section class="hero form__top">
  <div class="hero-body">
    <div class="container">
      <div class="content has-text-centered">
        <h1 class="title">農機具を高く売りませんか</h1>
        <p class="subtitle">2種類の方法で高く農機具が売れる！</p>
        <p class="subtitle">-即金買取-</p>
        <p class="subtitle">-当社ホームページに出品-</p>
        <%= render :partial => '/form/sell_buttons' %>
      </div>
    </div>
  </div>
</section>
<section class="section form__summary">
  <div class="container">
    <div class="content has-text-centered">
      <h2>ファーマリーとは</h2>
      <p>
        <span>ファーマリーは全国最大規模の中古農機具カタログサイトです。</span>
        <br>
        <span>ユーザーは希望の条件で農機具を探し、購入を申し込むことができます。</span>
      </p>
      <h2>ファーマリーで農機具を売ろう</h2>
      <p>
        <span>当社では買取と、ホームページでの販売代行も受け付けております。</span>
        <br>
        <span>無料で出張査定、出品代行もいたしますので、ぜひお気軽にご相談ください。</span>
      </p>
      <p></p>
    </div>
  </div>
</section>
<section class="section form__feature">
  <div class="container">
    <div class="content has-text-centered">
      <h2>フォームに入力するだけ！無料で出張査定に伺います。</h2>
      <div class="columns">
        <div class="column">
          <div class="content">
            <div class="circle">
              <span>1</span>
            </div>
            <h3>問い合わせ</h3>
            <p>フォームから条件を入力。30秒で簡単に終わります。電話相談も承ります。</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <div class="circle">
              <span>2</span>
            </div>
            <h3>ヒアリング</h3>
            <p>お電話にてご連絡させていただき、条件を詳しく確認させていただきます。</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <div class="circle">
              <span>3</span>
            </div>
            <h3>無料出張査定</h3>
            <p>当社スタッフが無料で査定に伺います。その場で現金買取も可能です。</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <div class="circle">
              <span>4</span>
            </div>
            <h3>引き取り</h3>
            <p>事前に日程を確認し、引き取らせていただきます。</p>
          </div>
        </div>
      </div>
      <%= render :partial => '/form/sell_buttons' %>
    </div>
  </div>
</section>
<section class="section form__trouble-list">
  <div class="container">
    <div class="content has-text-centered">
      <h2>こんな事で悩んでいませんか？</h2>
      <div class="trouble-list">
        <div class="trouble">
          <%= image_tag 'form/futaba.png' %>
          <p>使わなくなった農機具の処分に困っている</p>
        </div>
        <div class="trouble">
          <%= image_tag 'form/futaba.png' %>
          <p>そろそろ買い換えたい</p>
        </div>
        <div class="trouble">
          <%= image_tag 'form/futaba.png' %>
          <p>一番高く農機具を売りたい</p>
        </div>
        <div class="trouble">
          <%= image_tag 'form/futaba.png' %>
          <p>故障して動かないから、もう売れないんじゃないか。</p>
        </div>
        <div class="trouble">
          <%= image_tag 'form/futaba.png' %>
          <p>どこにお願いしたらいいかわからない。</p>
        </div>
      </div>
      <div class="triangle"></div>
      <div class="solution">
        <p>ファーマリーなら</p>
        <p>無料で出張査定に伺います。</p>
        <p>下取りも承ります！</p>
      </div>
      <%= render :partial => '/form/sell_buttons' %>
    </div>
  </div>
</section>
<section class="section form__merits">
  <div class="container">
    <div class="content has-text-centered">
      <h2>ファーマリーは全国最大規模の中古農機具買取サイト</h2>
      <div class="columns">
        <div class="column">
          <div class="content">
            <h5>全国最高価格で買い取ります</h5>
            <p>当社では常に購入予約待ちのお客様がいます。その為、どこよりも高い値段での買取が可能です。</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h5>不動、故障品でも買取可能</h5>
            <p>動かない、故障している農機でも当社では自社で整備することが可能です。どんな状態でも買い取りのご相談に乗ります。</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h5>無料出張査定</h5>
            <p>無料で当社スタッフが出張査定に伺います。もちろん金額にご不満の場合は買取に応じなくても構いません。</p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <h5>即時現金買取</h5>
            <p>査定をしたその場で現金で買い取ることも可能です。</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h5>ファーマリーに出品</h5>
            <p>ファーマリーサイト上に出品し、希望の金額で販売することも可能です。その場合、売却まで時間はかかりますが通常よりも高く売れます。</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h5>下取り</h5>
            <p>農機を買い換えたいという場合には下取りでの対応も可能です。当社の商品を購入いただく際に、下取りも承ります。</p>
          </div>
        </div>
      </div>
      <%= render :partial => '/form/sell_buttons' %>
    </div>
  </div>
</section>
<section class="section form__call-center">
  <div class="margin"></div>
  <div>
    <h3>まずはお気軽にご相談ください。</h3>
    <%= render :partial => '/form/sell_buttons', locals: { vertical: true } %>
  </div>
</section>
<section class="section form__form" id="form-anchor">
  <div class="container">
    <div class="content has-text-centered">
      <h2>簡単30秒査定依頼</h2>
      <%= form_with model: @form, local: true do |form| %>
        <div class="field-container">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">機械の種類</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <%= form.text_field :category, placeholder: '機械の種類', class: 'input', required: true %>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">お名前</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <%= form.text_field :name, placeholder: 'お名前', class: 'input', required: true %>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">電話番号</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <%= form.telephone_field :tel, placeholder: '電話番号', class: 'input', required: true %>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">住所</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <%= form.text_field :address, placeholder: '住所', class: 'input', required: true %>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">メールアドレス(任意)</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <%= form.email_field :email, placeholder: 'メールアドレス', class: 'input' %>
                </p>
              </div>
            </div>
          </div>
          <%= form.hidden_field :inquiry_type, value: '農機の査定依頼' %>
        </div>
        <p class="terms">
          <%= link_to '利用規約', terms_of_service_path, class: '', target: '_blank' %>
          <span>に同意して</span>
        </p>
        <%= form.submit '査定を依頼する', class: 'submit' %>
      <% end %>
    </div>
  </div>
</section>
