<% set_meta_tags title: @title %>
<section class="section sale-item__detail">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <%= render partial: '/breadcrumb', locals: { breadcrumb: @breadcrumb } %>
      </div>
    </div>
    <div class="columns is-centered main">
      <div class="column is-12-mobile is-6-tablet is-6-desktop has-text-centered">
        <%= image_tag url_for(@sale_item.images.first), class: 'sale-item-image' %>
      </div>
      <div class="column is-12-mobile is-6-tablet is-6-desktop">
        <h1 class="title">
          <%= @sale_item.model %>
          <br>
          <%= @sale_item.price %>円
        </h1>
        <div class="detail">
          <table class="table">
            <tbody>
              <tr>
                <th><%= @sale_item.class.human_attribute_name(:price) %></th>
                <td><%= @sale_item.price %> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section sale-item__detail">
  <% @sale_item.detail_with_template.tables.each do |table| %>
    <table class="table">
      <caption><%= table.name %></caption>
      <tbody>
        <% table.properties.each do |property| %>
          <tr>
            <th><%= property.name %></td>
            <td><%= property.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
</section>
