<% set_meta_tags title: @title %>
<section class="section sale-item__detail">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <%= render partial: '/breadcrumb', locals: { breadcrumb: @breadcrumb } %>
      </div>
    </div>
    <div class="columns is-centered main">
      <div class="column is-12-mobile is-6-tablet is-6-desktop has-text-centered">
        <div id="sale-item-image" data-url="<%= item_sale_item_images_path(sale_item_id: @sale_item, item_id: @item) %>">
        </div>
      </div>
      <div class="column is-12-mobile is-6-tablet is-6-desktop">
        <h1 class="title">
          <%= @sale_item.model %>
          <br>
          <%= @sale_item.price %>円
        </h1>

        <div class="columns buttons">
          <div class="column is-12-mobile is-12-tablet is-12-desktop">
            <a href="tel:<%= contact_phone_number %>" class="button form-button phone-button">
              <span class="icon">
                <i class="fas fa-phone"></i>
              </span>
              <span>電話お問い合わせ</span>
            </a>
          </div>
          <div class="column is-12-mobile is-12-tablet is-12-desktop">
            <%= link_to(sell_form_path, class: 'button form-button contact-button') do %>
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
              <span>この商品に関して<br class="only-sp" />問い合わせる</span>
            <% end %>
          </div>
        </div>

        <div class="detail">
          <table class="table">
            <tbody>
              <tr>
                <th><%= @sale_item.class.human_attribute_name(:price) %></th>
                <td><%= @sale_item.price %>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section sale-item__detail">
  <% @sale_item.detail_with_template.tables.each do |table| %>
    <table class="table">
      <caption><%= table.name %></caption>
      <tbody>
        <% table.properties.each do |property| %>
          <tr>
            <th><%= property.name %></td>
            <td><%= property.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
</section>
