<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, @property_template], html: { class: "form", multipart: true }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :category %>
    </div>
    <div class="field-unit__field">
      <%= f.select :category_id, @categories.map {|category| [category.name, category.id] } %>
    </div>
  </div>

  <% if @property_template.persisted? %>
    <div class="field-unit field-unit--string">
      <div class="field-unit__label">
        <label>現在のテンプレートCSVをダウンロード</label>
      </div>
      <div class="field-unit__field">
        <%= link_to "CSVをダウンロード", detail_file_admin_sale_item_template_path(@property_template) %>
      </div>
    </div>
  <% end %>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <label>CSVファイル</label>
    </div>
    <div class="field-unit__field">
      <%= f.file_field :detail_file %>
    </div>
  </div>

  <% if @property_template.persisted? %>
    <table class="table">
      <thead>
        <tr>
          <td>table_num</td>
          <td>table_name</td>
          <td>key</td>
          <td>name</td>
        </tr>
      </thead>
      <tbody>
        <% @property_template.detail.tables.each.with_index(1) do |table, i| %>
          <% table.properties.each do |property| %>
            <tr>
              <td><%= i %></td>
              <td><%= table.name %></td>
              <td><%= property.property_key %></td>
              <td><%= property.property_name %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
