<% content_for :title do %>ホーム<% end %>
<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">ホーム</h1>
</header>
<section class="main-content__body">
  <%= form_tag admin_import_path, multipart: true do %>
    <div class="field-unit field-unit--string">
      <div class="field-unit__label">
        <label>CSVファイル</label>
      </div>
      <div class="field-unit__field">
        <%= file_field_tag :file %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag 'インポート' %>
    </div>
  <% end %>
</section>
<section class="main-content__body">
  <%= form_tag admin_sitemap_path, multipart: true, method: 'put' do %>
    <div class="field-unit field-unit--string">
      <div class="field-unit__label">
        <label>サイトマップ</label>
      </div>
      <div class="field-unit__field">
        <%= submit_tag '更新' %>
      </div>
    </div>
  <% end %>
</section>
