<% set_meta_tags title: @title %>
<section class="section item__detail">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <%= render partial: '/breadcrumb', locals: { breadcrumb: @breadcrumb } %>
      </div>
    </div>
    <div class="columns is-centered main">
      <div class="column is-12-mobile is-12-tablet is-12-desktop">
        <h1 class="title"><%= @title %> -【中古取り扱い/高価買取】</h1>
        <div class="prices">
          <p>
            <span><%= maker_price_range(@item) %></span>円
            <span>(メーカー希望小売価格)</span>
          </p>
          <p class="farmally-price">
            <strong>要見積もり</strong>
            <span>(ファーマリー中古価格)</span>
          </p>
        </div>

        <div class="detail">
          <table class="table">
            <tr>
              <th>メーカー</th>
              <td>:</td>
              <td><%= @item.maker.name %></td>
            </tr>
            <tr>
              <th>種類</th>
              <td>:</td>
              <td><%= @item.category.name %></td>
            </tr>
            <tr>
              <th>大きさ</th>
              <td>:</td>
              <td><%= print_text(@item.size) %></td>
            </tr>
            <tr>
              <th>馬力</th>
              <td>:</td>
              <td><%= print_text(@item.horse_power) %></td>
            </tr>
            <tr>
              <th>質量(kg)</th>
              <td>:</td>
              <td><%= print_text(@item.weight) %></td>
            </tr>
            <tr>
              <th>機械の種類</th>
              <td>:</td>
              <td><%= print_text(@item.machine_type) %></td>
            </tr>
            <tr>
              <th>作業能率</th>
              <td>:</td>
              <td><%= print_text(@item.work_efficiency) %></td>
            </tr>
            <tr>
              <th>備考</th>
              <td>:</td>
              <td class="other"><%= print_text(@item.other) %></td>
            </tr>
          </table>
        </div>

        <div class="columns buttons">
          <div class="column is-12-mobile is-6-tablet is-6-desktop">
            <%= link_to(form_path, class: 'button form-button buy-button') do %>
              <%= image_tag 'talk.png', alt: '' %>
              <span>農機具選びを<br class="only-sp" />無料相談する</span>
            <% end %>
          </div>
          <div class="column is-12-mobile is-6-tablet is-6-desktop">
            <%= link_to(sell_form_path, class: 'button form-button sell-button') do %>
              <%= image_tag 'cart.png', alt: '' %>
              <span>農機を売る</span>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section item__sale-items">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <h3 class="title">現在出品中の商品</h3>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column">
        <div class="content">
          <% if @sale_items.present? %>
            <% @sale_items.each do |sale_item| %>
              <%= render partial: 'items/sale_item', locals:{ sale_item: sale_item } %>
            <% end %>
          <% else %>
            <p>出品中の商品はありません</p>
          <% end %>
        </div>
      </div>
    </div>
</section>

<section class="section item__reviews">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <h3 class="title">口コミ</h3>
        <%= link_to 'レビューする', new_item_review_path(@item), class: 'review-button' %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column">
        <div class="content">
          <% if @reviews.present? %>
            <% @reviews.each do |review| %>
              <%= render partial: 'items/review', locals:{ review: review } %>
            <% end %>
          <% else %>
            <p>まだ口コミはありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
