<section class="section hero is-light">
  <div class="container">
    <%= render :partial => '/search' %>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <%= render :partial => '/breadcrumb', locals: {breadcrumb: @breadcrumb} %>
        <h1 class="title is-4">
          <%= @title %>
        </h1>
        <div class="image" style="background-image:url(<%= asset_path "sample.jpg" %>); height: 500px">
        </div>
      </div>
    </div>
    <h2 class="title is-4 has-text-centered">
      商品情報
    </h2>
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="has-text-centered">
          <table class="table center">
            <tr>
              <th>メーカー</th>
              <td><%= @item.maker.name %></td>
            </tr>
            <tr>
              <th>種類</th>
              <td><%= @item.category.name %></td>
            </tr>
            <tr>
              <th>大きさ</th>
              <td><%= @item.size %></td>
            </tr>
            <tr>
              <th>馬力</th>
              <td><%= @item.horse_power %></td>
            </tr>
            <tr>
              <th>質量</th>
              <td><%= @item.weight %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="column is-4">
        <div>
          <p class="is-4 has-text-centered">
            メーカー希望小売価格: <strong><%= @item.maker_price %></strong> 円
          </p>
          <p class="is-4 has-text-centered">
            ファーマリー中古価格: <strong><%= @item.used_price %></strong> 円
          </p>
        </div>
        <div class="has-text-right">
          <br>
          <a class="button is-primary" href="<%= Constants::INQUIRY_URL %>" style="margin-top: auto;">
            問い合わせる
          </a>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="content">
        <% @reviews.each do |review| %>
          <p><%= review.star %></p>
          <p><%= review.status %></p>
          <p><%= review.purchase_price %></p>
          <% if review.picture.attached? %>
            <div class="review-picture" style="background-image: url('<%= url_for(review.picture) %>');"></div>
          <% else %>
            <div class="review-picture"></div>
          <% end %>
          <p><%= review.content.blank? ? '-' : review.content %></p>
        <% end %>
      </div>
    </div>
    <div class="columns is-centered">
      <%= form_with(model: @item.reviews.build, local: true) do |form| %>
        <div class="field">
          <%= form.label :content %>
          <%= form.text_field :content %>
        </div>
        <div class="field">
          <%= form.label :star %>
          <%= form.text_field :star %>
        </div>
        <div class="field">
          <%= form.label :status %>
          <%= form.text_field :status %>
        </div>
        <div class="field">
          <%= form.label :purchase_price %>
          <%= form.number_field :purchase_price %>
        </div>
        <div class="field">
          <%= form.label :picture %>
          <%= form.file_field :picture %>
        </div>
        <%= form.hidden_field :item_id %>
        <%= form.submit %>
      <% end %>
    </div>
  </div>
  <br/>
  <br/>
</section>
