<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<table>
  <tr>
    <td>
      <%= SaleItem.human_attribute_name(:item) %>
    </td>

    <td>
      <%= page.resource.item.model %>
    </td>
  </tr>

  <tr>
    <td>
      <%= SaleItem.human_attribute_name(:price) %>
    </td>

    <td>
      <%= page.resource.price %>
    </td>
  </tr>
</table>

<table>
  <caption><%= SaleItem.human_attribute_name(:sale_item_properties) %></caption>
  <% page.resource.sale_item_properties.each do |sale_item_property| %>
    <tr>
      <td>
        <%= sale_item_property.name %>
      </td>

      <td>
        <%= sale_item_property.value %>
      </td>
    </tr>
  <% end %>
</table>

<table>
  <caption><%= SaleItem.human_attribute_name(:images) %></caption>
  <% page.resource.images.each_with_index do |image, i| %>
    <tr>
      <td>
        <%= "#{SaleItem.human_attribute_name(:images)} #{i}" %>
      </td>

      <td>
        <%= image_tag(url_for(image)) %>
      </td>
    </tr>
  <% end %>
</table>
