<footer class="footer">
  <div class="container">
    <%= link_to 'ご利用規約', terms_of_service_path, rel: 'nofollow' %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path, rel: 'nofollow' %>
    <%= link_to '特定商取引法に基づく表記', specified_commercial_path, rel: 'nofollow' %>
    <%= link_to '会社概要', "", rel: 'nofollow' %>
  </div>
  <div class="category-list">
    <p>(仮) フッターにカテゴリ一覧載せる処理は全体に影響して少し重いので後ほど対応します</p>
  </div>
</footer>
<% if show_fixed_form %>
  <div style="height: 100px;"></div>
  <section class="hero is-white fixed-footer">
    <div class="container has-text-centered content">
      <%= link_to '農機具選びを無料相談する', form_path, class: 'button form-button buy-button' %>
      <%= link_to '農機を売る', sell_form_path, class: 'button form-button sell-button' %>
    </div>
  </section>
<% end %>
