<footer class="footer">
  <div class="container">
    <%= link_to 'ご利用規約', terms_of_service_path, rel: 'nofollow' %>
    <span>|</span>
    <%= link_to 'プライバシーポリシー', privacy_policy_path, rel: 'nofollow' %>
    <span>|</span>
    <%= link_to '特定商取引法に基づく表記', specified_commercial_path, rel: 'nofollow' %>
    <span>|</span>
    <%= link_to '会社概要', company_path %>
    <h3>ファーマリー</h3>
    <p class="copy">&copy; Farmally, Inc. All Rights Reserved.</p>
  </div>
</footer>
<% if show_fixed_form %>
  <div style="height: 100px;"></div>
  <section class="hero is-white fixed-footer">
    <div class="container has-text-centered content">
      <%= link_to '農機具選びを無料相談する', form_path, class: 'button form-button buy-button' %>
      <%= link_to '農機を売る', sell_form_path, class: 'button form-button sell-button' %>
    </div>
  </section>
<% end %>
