<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <aside class="menu">
          <p class="menu-label">
            Farmally
          </p>
          <ul class="menu-list">
            <li>
              <%= link_to 'ご利用規約', terms_of_service_path, rel: 'nofollow' %>
            </li>
            <li>
              <%= link_to 'プライバシーポリシー', privacy_policy_path, rel: 'nofollow' %>
            </li>
            <li>
              <%= link_to '特定商取引法に基づく表記', specified_commercial_path, rel: 'nofollow' %>
            </li>
            <li>
          </ul>
        </aside>
      </div>

      <div class="column is-4">
        <aside class="menu">
          <p class="menu-label">
            関連リンク
          </p>
          <ul class="menu-list">
            <li>
              <%= link_to '会社概要', company_path %>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column is-4">
        <p class="has-text-grey">
          Farmally, Inc. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
<section class="hero is-small is-white fixed-footer">
  <div class="hero-body">
    <div class="container has-text-centered content">
      <a class="button is-link is-medium is-rounded form-button" href="<%= Constants::INQUIRY_URL %>" target="_blank">
        農機具選びを無料相談する
      </a>
      <a class="button is-info is-medium is-rounded form-button" href="<%= Constants::SELL_INQUIRY_URL %>" target="_blank">
        農機を売る
      </a>
    </div>
  </div>
</section>
