<section class="hero is-white is-small">
  <div class="hero-head">
    <header class="navbar" id="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <span class="logo-name">ファーマリー</span>
          </a>
          <div class="navbar-burger burger" id="navbarBurger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navMenu" class="navbar-menu">
          <form class="field is-horizontal has-text-centered search-box" action="/search" method="get">
            <div class="control">
              <div class="select">
                <select name="category">
                  <option value="" selected>全ての種類</option>
                  <% Category.all.each do |c| %>
                    <option value="<%= c.code %>"><%= c.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="control">
              <div class="select">
                <select name="maker">
                  <option value="" selected>全てのメーカー</option>
                  <% Maker.all.each do |m| %>
                    <option value="<%= m.code %>"><%= m.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <button class="control button is-primary">
              <%= image_tag 'search.png', alt: '検索する' %>
            </button>
          </form>
          <%# <div class="navbar-start">
            <a class="navbar-item" href="https://bulma.io/">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="/documentation/overview/start/">
                Docs
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/documentation/overview/start/">
                  Overview
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                  Modifiers
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                  Columns
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                  Layout
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                  Form
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                  Elements
                </a>
                <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                  Components
                </a>
              </div>
            </div>
          </div> %>
        </div>
      </div>
    </header>
  </div>
  <% if flash.present? %>
    <div class="notification is-<%= flash.first[0] %>">
      <button class="delete"></button>
      <p><%= flash.first[1] %></p>
    </div>
  <% end %>
</section>
