<article class="media c-cassette js-item-detail" data-item-id="<%= item.id %>">
    <figure class="media-left">
      <p class="image is-128x128">
        <img src="TODO: img">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="title is-5">
          <strong><%= item.category.name %> <%= item.model %></strong>
        </p>
      </div>
      <ul>
        <li>メーカー: <%= item.maker.name %></li>
        <li>型式: <%= item.model %></li>
        <li>メーカー希望小売価格: <%= item.maker_price %> 円</li>
        <li>ファーマリー出品価格: <%= item.used_price %></li>
      </ul>
    </div>
    <div class="media-left">
      <%= link_to '問い合わせる', INQUIRY_URL, class: 'button is-primary'%>
    </div>
</article>
