<article class="media c-cassette">
    <%= link_to(item_path(item), class: 'item-detail') do %>
    <figure class="media-left">
      <div class="image is-128x128" style="background-image:url(<%= asset_path "sample-thumb.jpg" %>)">
      </div>
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="title is-5">
          <strong><%= item.category.name %> <%= item.model %></strong>
        </p>
      </div>
      <ul>
        <li>メーカー: <%= item.maker.name %></li>
        <li>型式: <%= item.model %></li>
        <li>メーカー希望小売価格: <%= item.maker_price %> 円</li>
        <li>ファーマリー出品価格: <%= item.used_price %> 円</li>
      </ul>
    </div>
    <% end %>
    <%= link_to '問い合わせる', INQUIRY_URL, class: 'button is-primary inquiry-btn'%>
</article>
