<div class="column is-12-mobile is-4-tablet is-4-desktop">
  <%= link_to(item_path(item), class: 'item-detail') do %>
    <%= image_tag 'sample-tractor.png' %>
    <div class="item-desc">
      <p class="name"><%= item.maker.name %> <%= item.model %></p>
      <p class="price"><%= print_price(item.used_price) %>円</p>
    </div>
  <% end %>
</div>
