<section class="section">
  <div class="container item-list">
    <% if @items.empty? %>
      <p class="title is-4 has-text-centered">商品が見つかりませんでした</p>
    <% else %>
      <% if @maker %>
        <% breadcrumb(:maker, @maker, @sub_category || @category) %>
      <% elsif @sub_category || @category %>
        <% breadcrumb(@sub_category || @category) %>
      <% end %>

      <%= render partial: '/breadcrumb' %>

      <% if @category.try(:description_content?) %>
        <h1 class="category-name title is-2">
          <%= @category.name %>
        </h1>
        <section class="section containe category-about-section">
          <%= raw @category.description_content %>
        </section>
      <% end %>

      <% if local_assigns.has_key? :sub_categories %>
        <h3 class="title is-4">もっと絞り込む</h3>
        <div class="columns is-mobile is-multiline sub-category-search">
          <% sub_categories.each do |sub_category| %>
            <div class="column is-6-mobile is-3-tablet is-3-desktop">
              <%= link_to(sub_category_category_path(code: @category.code, sub_code: sub_category.code)) do %>
                <span><%= sub_category.name %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <h1 class="title is-4"><%= @title %><span class="counter">&nbsp;<%= @items.current_page %>ページ目 (全<%= @items.total_count %>件)</span></h1>
      <div class="columns is-mobile is-multiline">
        <% @items.each do |i| %>
          <%= render partial: '/item_cassette', locals: { item: i } %>
        <% end %>
      </div>
      <%= paginate @items, views_prefix: 'templates' %>
    <% end %>
  </div>
</section>
