<%
  hide_fixed_form = current_page?(terms_of_service_path) ||
                      current_page?(specified_commercial_path) ||
                      current_page?(company_path)
%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render :partial => '/meta' %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render :partial => '/vendor_css' %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('apple-touch-icon-180x180.png', { rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' }) %>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126381641-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-126381641-1');
      </script>
    <% end %>
    <%= javascript_bundle_tag 'application' %>
  </head>
  <body>
    <%= render :partial => '/header' %>
    <%= yield %>
    <%= render :partial => '/footer', locals: { show_fixed_form: !hide_fixed_form } %>
    <input type="hidden" id="category-master-data" value="<%= @master_categories %>" />
    <input type="hidden" id="sub-category-master-data" value="<%= @master_sub_categories %>" />
    <input type="hidden" id="maker-master-data" value="<%= @master_makers %>" />
  </body>
</html>
