<!DOCTYPE html>
<html>
  <head>
    <title>Farmally</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render :partial => '/header' %>
    <%= yield %>
    <%= render :partial => '/footer' %>
  </body>
</html>
