<%
  hide_fixed_form = current_page?(terms_of_service_path) ||
                      current_page?(privacy_policy_path) ||
                      current_page?(specified_commercial_path) ||
                      current_page?(company_path)
%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render :partial => '/meta' %>
    <title>Farmally</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render :partial => '/vendor_css' %>
  </head>
  <body>
    <%= render :partial => '/header' %>
    <%= yield %>
    <%= render :partial => '/footer', locals: { show_fixed_form: !hide_fixed_form } %>
  </body>
</html>
