<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render :partial => '/meta' %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="canonical” href=”<%= request.url %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%= render :partial => '/vendor_css' %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('apple-touch-icon-180x180.png', { rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' }) %>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126381641-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-126381641-1');
      </script>
      <script type="text/javascript">
        (function(add, cla){window['UserHeatTag']=cla;window[cla]=window[cla]||function(){(window[cla].q=window[cla].q||[]).push(arguments)},window[cla].l=1*new Date();var ul=document.createElement('script');var tag = document.getElementsByTagName('script')[0];ul.async=1;ul.src=add;tag.parentNode.insertBefore(ul,tag);})('//uh.nakanohito.jp/uhj2/uh.js', '_uhtracker');_uhtracker({id:'uhOkxZ4Lm3'});
      </script>
      <script async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
      <script>
        window.yjDataLayer = window.yjDataLayer || [];
        function ytag() { yjDataLayer.push(arguments); }
        ytag({"type":"ycl_cookie"});
      </script>
    <% end %>
    <%= javascript_bundle_tag 'application' %>
  </head>
  <body>
    <div class="site-content">
      <%= render :partial => '/header' %>
      <%= yield %>
      <%= render :partial => '/footer', locals: { show_fixed_form: false } %>
    </div>
  </body>
</html>
